//
//  mobile-flow-plugin-ios-framework.xcconfig
//  mobile-flow-plugin-ios-framework
//
//  Created by Innovation CE on 19.09.22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MF_API_URL = https:\/\/int.dev.skidata.net/test/mobileflow
